body {
    font-family: Arial, sans-serif;
    background-color: #d8f88d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.anime {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.info {
    font-size: 12px;
    color: #000000;
    margin-bottom: 5px;
}
